.caption {
    font-size: 12px;
    // font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.project-list {
    width: 100%;
    border-radius: 0.25rem;
    display: block;
    overflow: auto;
    padding: 0.5em 0.5em 0.5em 1em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    @media only screen and (min-width: 62.5em) {
        div.left {
            width: 70%;
            float: left;
        }

        div.right {
            width: 30%;
            float: right;
        }
    }
    img {
        border-radius: 0.125em;
    }
    span.stack {
        display: inline-block;
        border: 1px solid;
        border-color: rgba(229, 230, 233, 0.5) rgba(223, 224, 228, 0.5) #d0d1d5;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
        background-color: #fff;
        color: #383838;
        -webkit-transition: 0.75s;
        -moz-transition: 0.75s;
        -ms-transition: 0.75s;
        -o-transition: 0.75s;
        transition: 0.75s;
        margin: 2px 5px;
        padding: 2px 6px;
    }
}
